
<table>
  <tr>
    <td>
      Phrase:
    </td>
    <td>
<%= @phrase.text %>
    </td>
  </tr>
  <tr>
    <td>
      Language:
    </td>
    <td>
<%= @phrase.language.abbreviation %>
    </td>
  </tr>
  <tr>
    <td>
      Translations:
    </td>
    <td>
      <table>
        <% @translations.each do |translation| %>
        <tr>
          <td>
            <%= link_to translation.target_phrase.text, translation.target_phrase %> (<%= translation.target_phrase.language.abbreviation %>)
          </td>
        </tr>
        <% end %>
      </table>            
    </td>
  </tr>
</table>
<%= link_to 'Edit', edit_phrase_path(@phrase) %> |
<%= link_to 'Back', phrases_path %>
