<h1>Words</h1>

<% form_tag words_path, :method => 'get' do %>
<p>
  <%= text_field_tag :search, params[:search] %>
  <%= submit_tag "Search", :name => nil %>
</p>
<% end %>
<table>
  <tr>
    <th width="40%" align="left">Text</th>
    <th width="10%" align="center">Category</th>
    <th width="10%" align="center">Language</th>
    <th width="40%" colspan="2">Operations</th>
  </tr>

<% @words.each do |word| %>
  <tr>
    <td><%= link_to word.text, word %></td>
    <td align="center"><%=
if (word.category)
  word.category.name
else
  '-'
end
    %></td>
    <td align="center"><%= word.language.abbreviation %></td>
    <td align="center"><%= link_to 'Edit', edit_word_path(word) %></td>
    <td align="center"><%= link_to 'Destroy', word, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />
<%= paginate @words %>
<br />

<%= link_to 'New Word', new_word_path %>
